@font-face {
    font-family: Helvetica;
    src: url(/asset/fonts/Helvetica-Bold.ttf);
}

@font-face {
    font-family: Helvetica;
    src: url(/asset/fonts/Helvetica-BoldOblique.ttf);
}

@font-face {
    font-family: Helvetica;
    src: url(/asset/fonts/Helvetica-Oblique.ttf);
}

@font-face {
    font-family: Helvetica;
    src: url(/asset/fonts/helvetica-compressed-5871d14b6903a.otf);
}

@font-face {
    font-family: Helvetica;
    src: url(/asset/fonts/helvetica-light-587ebe5a59211.ttf);
}

@font-face {
    font-family: Helvetica;
    src: url(/asset/fonts/helvetica-rounded-bold-5871d05ead8de.otf);
}

@font-face {
    font-family: Helvetica;
    src: url(/asset/fonts/Helvetica.ttf);
    font-weight: 400;
}


head {
    display: none;
}

body {
    background-color: #181818;
    background-image: url(../asset/images/Illustration.png);
    background-size: 100vw;
    /* height: 5124px; */
    margin: 0;
}

button {
    background-color: transparent;
    color: #D1291D;
    padding: 0.5vw 2vw 0.5vw 2vw;
    border-radius: 25px;
    border: 2px solid #A8A7A7;
    margin-left: 2vw;
    font-size: 1vw;
    transition: all 0.3s ease;
}



.topBar {
    /* border: 1px solid white; */
    margin: 2vw 12.5vw 2vw 12.5vw;
    display: flex;
    flex-direction: row;
    font-family: 'Helvetica';
    font-weight: 400;
    font-size: 1vw;
}

.logo {
    display: flex;
    height: 3vw;
    width: 12vw;
}

.topBar_options {
    /* border: 1px solid blue;  */
    /* height: fit-content; */
    margin: 0.5vw 0vw 0vw auto;

}

.topBar_toggle {
    display: none;
    flex-direction: column;
    cursor: pointer;
}

.bar {
    height: 0.2vw;
    width: 2vw;
    background-color: #D1291D;
    margin: 0.4vw 0;
    border-radius: 10px;
}

.topBar_options a {
    text-decoration: none;
    color: rgb(255, 255, 255);
    opacity: 0.71;
    margin: 1.5vw 2vw 0vw 2vw;
    letter-spacing: 0.05vw;
    transition: all 0.3s ease;
}

.topBar_options a:hover {
    opacity: 1;
    text-shadow: 0px 0px 1vw #D1291D;
}

.topBar_options a::after {
    color: #D1291D;
    width: 3vw;
    height: 1vw;
}

.topBar_options button {
    background-color: transparent;
    color: #D1291D;
    padding: 0.5vw 2vw 0.5vw 2vw;
    border-radius: 25px;
    border: 2px solid #A8A7A7;
    margin-left: 2vw;
    font-size: 1vw;
}

.hero {
    display: flex;
    flex-direction: column;
    background-image: url(../asset/images/Team_bg.png);
    background-size: cover;
    height: 30vw;
    width: 80vw;
    border-radius: 30px;
    margin: 5vw auto 0vw auto;
}

.hero h1 {
    font-family: 'Helvetica';
    margin: 3vw auto 0vw auto;
    color: white;
    font-weight: 900;
    font-size: 4vw;
    text-shadow: 3px 3px 0px rgba(255, 255, 255, 0.67);
}

.team_display {
    width: 60vw;
    height: 9vw;
    margin: 2vw auto 0vw auto;
}

.hero button {
    width: fit-content;
    color: white;
    /* font-weight: 700; */
    margin: 4vw auto 0vw auto;
}

.heads {
    display: flex;
    height: fit-content;
    width: 67vw;
    flex-wrap: wrap;
    /* border: 1px solid white; */
    margin: 5vw auto 5vw auto;
    font-family: 'Helvetica';
    color: white;
    font-weight: 100;
    font-size: 1.2vw;
}

.head_layout {
    /* border: 1px solid greenyellow; */
    display: flex;
    flex-direction: column;
    padding: 2vw;
}

.line {
    height: 0.1vw;
    width: 4vw;
    margin: 0vw 0vw 2vw 0vw;
    background-color: white;
}

.photo_card {
    display: flex;
    flex-direction: column;
    height: 18vw;
    width: 14vw;
    border: 1px solid white;
    border-radius: 10px;
    background-image: url(../asset/images/Photo_card_bg.png);
    background-size: cover;
    overflow: hidden;
    margin: 2vw 4vw 2vw 0vw;
}

.photo_card img {
    height: 10vw;
    width: 10.5vw;
    margin: 3vw auto 0vw auto;
    transition: all 0.5s ease-in-out;
}

.name_bar {
    background-color: white;
    color: black;
    text-align: center;
    /* height: 100%; */
    height: 3vw;
    padding: 1vw;
    font-weight: 500;
    transition: all 0.3s ease-in-out;
}

.name_bar p {
    color: #777777;
    font-size: 0.8vw;
    font-weight: 600;
    letter-spacing: 1px;
}


/* DONT DELETE THE COMMENTED LINES ABOVE , IT WILL BE USED IF SOCIAL ACCOUNTS OF ALL MEMBERS IS TO BE DISPLAYED*/

.social_accounts {
    display: none;
    border: 1px solid blue;
    height: 3vw;
    width: 8vw;
    margin: 1vw auto 1vw auto;
    transition: all 0.5s ease;
}

.social_accounts img {
    width: 3vw;
    height: 3vw;
    margin: 0vw;
}

.photo_card:hover .name_bar {
    transform: translateY(-3vw);
}

.photo_card .social-links a {
    display: none;
    /* Hide the social media icons by default */
}

.photo_card:hover .social-links a {
    display: inline-block;
    flex-direction: row;
    color: white;
    padding: 0 3.4vh 0 3.4vh;
    transform: translateY(-4vh) scale(1.5);
    /* Make the social media icons visible on hover */
}

.photo_card .lead-links a {
    display: none;
    /* Hide the social media icons by default */
}

.photo_card:hover .lead-links a {
    display: inline-block;
    flex-direction: row;
    color: white;
    padding: 0 3vh 0 3vh;
    transform: translateY(-3vh) scale(1.5);
    /* Make the social media icons visible on hover */
}

.photo_card:hover .social_accounts {
    display: flex;
}

.photo_card:hover img {
    transform: scale(0.8);
    transform: translateY(-2vw);
}

/**/

.heading {
    width: fit-content;
    height: fit-content;
    /* border: 1px solid greenyellow; */
    font-family: 'Helvetica';
    color: white;
    margin: 10vw 0vw 0vw 10vw;
}

.Team_left {
    /* border: 1px solid pink; */
    width: 80vw;
    margin: 2vw auto 0vw auto;
    color: white;
    font-family: 'Helvetica';
    font-size: 1vw;
    display: flex;
    flex-wrap: wrap;
}

.team_desc {
    width: 28vw;
    margin: 4vw 12vw 0vw 0vw;
    font-size: 1.3vw;
}

.dnp_image {
    height: 17vw;
    margin: 2vw 4vw 2vw 0vw;

}

#lno_image {
    margin-right: 7.5vw;
}

#mnc_image {
    width: 36vw;
}

#fns_image {
    margin-right: 7vw;
}

#ed_image {
    margin-right: 17.5vw;
}

#cu_image {
    margin-right: 16.5vw;
}


.footer {
    background-color: rgb(231, 231, 231);
    height: 25vw;
    width: 90vw;
    margin: 8vw auto 8vw auto;
    border-radius: 30px;
    display: flex;
    font-family: 'Helvetica';
    font-size: 1vw;
    color: red;
    margin-bottom: 2vw;
    /* display: none; */
}

.TEDxPVGCOET {
    margin: 4vw 4vw 0vw 4vw;
}

.social_media {
    display: flex;
    flex-direction: row;
    height: fit-content;
    width: 20vw;
    /* border-top: 2px solid black; */
    margin: 0vw 0vw 0vw 3vw;
}

.social_media a svg {
    height: 2vw;
    width: 2vw;
    margin: 0vw 1vw 0vw 1vw;
    transition: all 0.3s ease;
    overflow: visible;
}

.social_media a svg path {
    transition: all 0.3s ease;
}

.social_media a svg:hover path {
    fill: #D1291D;
    transform: scale(1.2);
}

.contact {
    margin: 5vw 0vw 0vw 4vw;
    color: black;
}

.contact a {
    text-decoration: none;
    color: black;
}

.contact button{
    margin: 1.5vw 0vw 0vw 0vw;

}

.contact ul li {
    margin-left: -2vw;
}

#footer_about_us,
#footer_contact,
#footer_site_links {
    font-size: 1.2vw;
}

#footer_about_width {
    width: 17vw;
}

.end_bar {
    display: flex;
    flex-direction: column;
    position: absolute;
    width: 90vw;
    margin-top: 20vw;
    justify-content: center;
    /* border: 1px solid greenyellow; */
}

.line2 {
    height: 1px;
    margin: auto;
    background-color: black;
    width: 83vw;
}

.photo_card .width_fix {
    width: 9vw;
}

button:hover {
    transform: scale(1.05);
    color: white;
    background-color: #D1291D;
    border-color: #D1291D;
}

@media only screen and (max-width : 768px) {

    * {
        -webkit-tap-highlight-color: transparent;
    }

    button {
        font-size: 4vw;
        width: fit-content;
        padding: 2vw 6vw 2vw 6vw;
    }

    .topBar {
        margin: 7vw 4vw 15vw 4vw;
        font-size: 4vw;
    }

    .logo {
        height: 10vw;
        width: 40vw;
    }

    .topBar_options {
        display: none;
        flex-direction: column;
        position: absolute;
        top: 25vw;
        right: 0vw;
        /* width: fit-content; */
        width: 100%;
        padding: 5vw 0vw 15vw 0vw;
        text-align: center;
        /* background-color: #762621; */
        background-color: white;
        /* border-radius: 30px; */
        transition: all 0.5s ease-in-out;
    }

    .topBar_options.show {
        display: flex;
    }

    .topBar_toggle {
        display: flex;
        margin-left: 43vw;
        margin-top: 1vw;
    }

    .bar {
        height: 1vw;
        width: 8vw;
        margin: 0.8vw 0;
    }

    .topBar_options a {
        margin-top: 10vw;
        color: black;
        margin: 10vw auto 0vw auto;
        font-weight: 500;
        font-size: 5vw;
    }

    .topBar_options button {
        font-size: 4vw;
        margin: 10vw auto 0vw auto;
        padding: 2vw 6vw 2vw 6vw;
    }

    .hero {
        /* display: none; */
        height: 80vw;
        width: 90vw;
        margin: 0vw auto 10vw auto;
    }

    .hero h1 {
        font-size: 9vw;
        margin: 15vw auto 0vw auto;
    }

    .team_display {
        width: 80vw;
        height: 13vw;
        margin: 8vw auto 0vw auto;
    }

    .hero button {
        margin: 10vw auto 0vw auto;
    }

    .heads {
        /* display: none; */
        /* border: 1px solid burlywood; */
        width: 85vw;
        font-size: 4vw;
        margin-bottom: 30vw;
    }

    .head_layout {
        padding: 0vw;
        margin-left: 0.9vw;
        margin-right: 3vw;
        margin-bottom: 5vw;
        text-align: center;
        /* border: 1px solid burlywood; */

    }

    .line {
        /* display: none; */
        width: 35vw;
        margin: -2vw auto 3vw auto
    }

    .photo_card {
        height: 50vw;
        width: 37vw;
        font-size: 3.5vw;
    }

    .head_layout .photo_card {
        margin: 1vw auto 0vw auto;
    }

    .photo_card img {
        transform: scale(3);
        margin: 18vw auto 0vw auto;
    }

    .photo_card:hover img{
        transform: translateY(-1vw);
        transform: scaleX(3);
    }

    .name_bar {
        height: 10vw;
        margin-top: 10vw;
        padding: 2vw;
    }

    .name_bar p {
        font-size: 2.5vw;
        margin-top: 1vw;
    }

    .Team_left {
        /* display: none; */
        /* border: 1px solid greenyellow; */
        width: 85vw;
        margin-bottom: 30vw;
    }

    .Team_left .photo_card {
        margin-left: 2.5vw;
        margin-right: 1vw;
    }

    .team_desc {
        display: none;
    }

    .dnp_image {
        /* border: 1px solid wheat; */
        margin-top: 10vw;
        height: 40vw;
        margin-bottom: 10vw;
        margin-left: 2vw;
    }

    #lno_image {
        margin-left: 5vw;
    }

    #mnc_image {
        width: 80vw;
    }

    #fns_image {
        margin-left: 5vw;
    }

    #ed_image {
        margin-left: 15vw;
    }

    #cu_image {
        margin-left: 15vw;
    }

    .heading {
        /* display: none; */
        font-size: 3.5vw;
        width: 60vw;
        font-weight: 200;
        text-align: center;
        margin: 10vw auto 0vw auto;
    }

    .footer {
        display: flex;
        flex-direction: column;
        height: fit-content;
        width: auto;
        border-radius: 0px;
        margin: 0vw 0vw 0vw 0vw;
    }

    .TEDxPVGCOET {
        transform: scale(3.5);
        margin: 8vw 0vw 0vw 20vw;
        width: fit-content;
    }

    .social_media {
        margin: 5vw 0vw 0vw 5vw;
    }

    .social_media a svg {
        height: 10vw;
        width: 10vw;
        margin-right: 5vw;
    }

    .contact {
        margin-top: 10vw;
        font-size: 4vw;
    }

    #footer_about_us,
    #footer_contact,
    #footer_site_links {
        font-size: 5vw;
    }

    #footer_about_width {
        width: 80vw;
    }

    .contact ul li {
        margin-left: -7vw;
        margin-bottom: 4vw;
    }

    .end_bar {
        display: none;
    }

    .contact button{
        margin-top: 5vw;
        margin-bottom: 10vw;
    }
}