@font-face {
    font-family: Helvetica;
    src: url(asset/fonts/Helvetica-Bold.ttf);
}
@font-face {
    font-family: Helvetica;
    src: url(asset/fonts/Helvetica-BoldOblique.ttf);
}
@font-face {
    font-family: Helvetica;
    src: url(asset/fonts/Helvetica-Oblique.ttf);
}
@font-face {
    font-family: Helvetica;
    src: url(asset/fonts/helvetica-compressed-5871d14b6903a.otf);
}
@font-face {
    font-family: Helvetica;
    src: url(asset/fonts/helvetica-light-587ebe5a59211.ttf);
}
@font-face {
    font-family: Helvetica;
    src: url(asset/fonts/helvetica-rounded-bold-5871d05ead8de.otf);
}
@font-face {
    font-family: Helvetica;
    src: url(asset/fonts/Helvetica.ttf); 
    font-weight: 400;
}


head{
    display: none;
} 

body{
    background-color: #181818;
    background-image: url(asset/images/Illustration.png);
    background-size: 100vw;
    /* height: 5124px; */
    margin: 0;
}

button{
    background-color: transparent;
    color: #D1291D;
    padding: 0.5vw 2vw 0.5vw 2vw;
    border-radius: 25px;
    border: 2px solid #A8A7A7;
    margin-left: 2vw;
    font-size: 1vw;
    transition: all 0.3s ease;
}



.topBar{
    /* border: 1px solid white; */
    margin: 2vw 12.5vw 2vw 12.5vw;
    display: flex;
    flex-direction: row;
    font-family: 'Helvetica';
    font-weight: 400;
    font-size: 1vw;
}

.logo{
    display: flex;
    height: 3vw;
    width: 12vw;
}

.topBar_options{
    /* border: 1px solid blue;  */
    /* height: fit-content; */
    margin: 0.5vw 0vw 0vw auto;

}

.topBar_options a{
    text-decoration: none;
    color: rgb(255, 255, 255);
    opacity: 0.71;
    margin: 1.5vw 2vw 0vw 2vw;
    letter-spacing: 0.05vw;
    transition: all 0.3s ease;
}

.topBar_options a:hover{
    opacity: 1;
    text-shadow: 0px 0px 1vw #D1291D;
}

.topBar_options a::after{
    color: #D1291D;
    width: 3vw;
    height: 1vw;
}

.topBar_options button{
    background-color: transparent;
    color: #D1291D;
    padding: 0.5vw 2vw 0.5vw 2vw;
    border-radius: 25px;
    border: 2px solid #A8A7A7;
    margin-left: 2vw;
    font-size: 1vw;
}

.hero{
    margin-bottom: 20vw;
}

.display_text{
    font-family: 'Helvetica';
    font-size: 3vw;
    color: white;
    letter-spacing: 2px;
    /* border: 1px solid blue; */
    height: fit-content;
    width: fit-content;
    margin: 8vw 0vw 0vw 12.5vw;
    font-weight: 700;
    line-height: 0vw;
}

.hero_list{
    display: flex;
    flex-direction: column;
    /* border: 1px solid white; */
    width: fit-content;
    height: fit-content;
    margin: 1vw 0vw 0vw 12.5vw;
    font-size: 1vw;
    font-family: 'Helvetica';
    color: white;
}

.list_row{
    display: flex;
    flex-direction: column;
}

.list_column{
    display: flex;
    flex-direction: row;
    /* border: 1px solid gray; */
    margin-bottom: 0.5vw;
    font-size: 1vw;
    letter-spacing: 1.5px;
    transition: all 0.3s ease;
    cursor: default;
}

.list_column:hover{
    margin-bottom: 1vw;
}

.box{
    height: 2vw;
    width: 2vw;
    padding: 1vw;
    /* border: 1px solid wheat; */
    background : linear-gradient(to bottom , #232323 , #151515);
    border-radius: 10px;
    margin-right: 2vw;
}

.illustration1{
    width: 20vw;
    height: 17vw;
    position: absolute;
    top: 16vw;
    right: 18vw;
    transition: all 0.5s ease;

}

.illustration2{
    width: 10vw;
    height: 4vw;
    position: absolute;
    top: 12vw;
    left: 31vw;
}

.X{
    font-family: 'Helvetica'; 
    font-size: 1vw;
    color: #A5251B;
    position: absolute;
    top: 7vw;
    right: 16vw;
}

.licencee{
    position: absolute;
    top: 17vw;
    right: 21vw;
    width: 16vw;
    height: 20vw;
    transition: all 0.3s ease;
}

.licencee:hover , .illustration1:hover{
    transform: translate(1vw, -1vw);
}

.name_plate{
    background-color: #232323;
    border-radius: 30px;
    height: fit-content;
    width: fit-content;
    font-family: 'Helvetica';
    /* border: 1px solid red; */
    padding: 0.5vw 5vw 0.5vw 5vw;
    color: white;
    position: absolute;
    top: 33vw;
    right: 18.5vw;
}

.about_us{
    /* border: 1px solid white; */
    display: flex;
    flex-direction: row;
    margin-bottom: 15vw;
    opacity: 0;
    transform: translateY(20px);
    transition: opacity 0.8s ease-in-out, transform 0.8s ease-in-out;
}

.about_us.show{
    opacity: 1;
    transform: translateY(0);
}

.about_us_images{
    margin-left: 15vw;
}

.about_us_images img{
    width: 20vw;
    height: 20vw;
}

.about_us_content{
    font-family: 'Helvetica';
    font-size: 1vw;
    /* border: 1px solid wheat; */
    margin: 0vw 20vw 0vw 15vw;
    text-align: right;
}

.about_us_content button{
    background-color: transparent;
    color: #D1291D;
    padding: 0.5vw 2vw 0.5vw 2vw;
    border-radius: 25px;
    border: 2px solid #A8A7A7;
    margin-top: 3vw;
    margin-left: 2vw;
    font-size: 1vw;
}

.Big_X{
    position: absolute;
    top: 55vw;
    right: 0vw;
    width: 20vw;
    height: 30vw;
    opacity: 0.7;
}

.speakers{
    display: flex;
    flex-direction: column;
    font-family: 'Helvetica';
    font-size: 1vw;
    color: white;
    margin-bottom: 15vw;
    opacity: 0;
    transform: translateY(20px);
    transition: opacity 0.8s ease-in-out, transform 0.8s ease-in-out;
}

.speakers.show{
    opacity: 1;
    transform: translateY(0);
}

.speakers p{
    margin: auto;
}

.speaker_images{
    display: flex;
    flex-wrap: wrap;
    /* border: 1px solid white; */
    margin: auto;
    width: 80vw;
    height: 50vw;
    margin-top: 8vw;
}

.speaker_image{
    border: 1px solid #D6291B;
    height: 20vw;
    width: 20vw;
    margin: 0vw 3vw 0vw 3vw;
    border-radius: 10px;
}

.speakers button{
    background-color: transparent;
    color: #D1291D;
    padding: 0.5vw 2vw 0.5vw 2vw;
    border-radius: 25px;
    border: 2px solid #A8A7A7;
    margin-left: 2vw;
    font-size: 1vw;
    width: fit-content;
    margin: auto;
    margin-top: 3vw;
}


.team{
    display: flex;
    flex-direction: column;
    margin: auto;
    font-family: 'Helvetica';
    font-size: 1vw;
    color: white;
    border-bottom: 1px solid red;
    opacity: 0;
    transform: translateY(20px);
    transition: opacity 0.8s ease-in-out, transform 0.8s ease-in-out;
}

.team.show{
    opacity: 1;
    transform: translateY(0);
}


.team_logo{
    display: flex;
    flex-wrap: wrap;
    height: 30vw;
    width: 47vw;
    /* border: 1px solid wheat; */
    margin: auto;
    margin-top: 3vw;
}

.icon{
    width: fit-content;
    height: fit-content;
    /* border: 1px solid white; */
}

.icon svg{
    margin: auto;
    border: 1px solid white;
    padding: 1.5vw;
    height: 2vw;
    width: 2vw;
    border-radius: 10px;
    margin: 2vw 5vw 0vw 5vw;
}

.icon p{
    margin: 1vw auto 0vw auto;
    text-align: center;
}

.team button{
    background-color: transparent;
    color: #D1291D;
    padding: 0.5vw 2vw 0.5vw 2vw;
    border-radius: 25px;
    border: 2px solid #A8A7A7;
    margin-left: 2vw;
    font-size: 1vw;
    width: fit-content;
    margin: auto;
    margin-top: 3vw;
    margin-bottom: 3vw;
}

.team img{
    height: 10vw;
    width: 40vw;
    margin: auto;
    opacity: 0.8;
}

button:hover{
    transform: scale(1.05);
    color: white;
    background-color: #D1291D;
    border-color: #D1291D;
}

.footer{
    background-color: rgb(0, 0, 0);
    height: 30vw;
    width: 100%;
    display: flex;
    font-family: 'Helvetica';
    font-size: 1vw;
    color: red;
}

.card{
    display: flex;
    flex-direction: column;
    width: 15vw;
    height: 15vw;
    border-radius: 20px;
    border: 1px solid rgba(255, 0, 0, 0.371);
    background-color: rgb(0, 0, 0);
    /* box-shadow: inset 0px 0px 10vw rgb(255, 59, 59); */
    box-shadow: rgba(255, 0, 0, 0.4) -5px 5px, rgba(255, 0, 0, 0.3) -10px 10px, rgba(255, 0, 0, 0.2) -15px 15px, rgba(255, 0, 0, 0.1) -20px 20px, rgba(255, 0, 0, 0.05) -25px 25px;
    margin: 5vw 0vw 0vw 15vw;
    font-size: 0.6vw;
    text-align: center;
    perspective: 1000px;
}

.card_inner {
    width: 100%;
    height: 100%;
    transform-style: preserve-3d;
    transition: transform 0.5s;
  }

.card:hover .card_inner {
    transform: rotateY(180deg);
  }

  .card_front,
  .card_back {
    width: 100%;
    height: 100%;
    position: absolute;
    backface-visibility: hidden;
  }

  .card_back {
    background-color: white;
    border-radius: 20px;
    transform: rotateY(180deg);
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 1.2em;
    color: black;
  }

.card_front img{
    display: flex;
    width: 12vw;
    height: 3vw;
    margin: 6vw auto 0vw auto;
}

