@font-face {
    font-family: Helvetica;
    src: url(asset/fonts/Helvetica-Bold.ttf);
}
@font-face {
    font-family: Helvetica;
    src: url(asset/fonts/Helvetica-BoldOblique.ttf);
}
@font-face {
    font-family: Helvetica;
    src: url(asset/fonts/Helvetica-Oblique.ttf);
}
@font-face {
    font-family: Helvetica;
    src: url(asset/fonts/helvetica-compressed-5871d14b6903a.otf);
}
@font-face {
    font-family: Helvetica;
    src: url(asset/fonts/helvetica-light-587ebe5a59211.ttf);
}
@font-face {
    font-family: Helvetica;
    src: url(asset/fonts/helvetica-rounded-bold-5871d05ead8de.otf);
}
@font-face {
    font-family: Helvetica;
    src: url(asset/fonts/Helvetica.ttf); 
    font-weight: 400;
}


head{
    display: none;
} 

body{
    background-color: #181818;
    background-image: url(asset/images/Illustration.png);
    background-size: 100vw;
    /* height: 5124px; */
    margin: 0;
}

button{
    background-color: transparent;
    color: #D1291D;
    padding: 0.5vw 2vw 0.5vw 2vw;
    border-radius: 25px;
    border: 2px solid #A8A7A7;
    margin-left: 2vw;
    font-size: 1vw;
    transition: all 0.3s ease;
}



.topBar{
    /* border: 1px solid white; */
    margin: 2vw 12.5vw 2vw 12.5vw;
    display: flex;
    flex-direction: row;
    font-family: 'Helvetica';
    font-weight: 400;
    font-size: 1vw;
}

.logo{
    display: flex;
    height: 3vw;
    width: 12vw;
}

.topBar_options{
    /* border: 1px solid blue;  */
    /* height: fit-content; */
    margin: 0.5vw 0vw 0vw auto;

}

.topBar_toggle{
    display: none;
    flex-direction: column;
    cursor: pointer;
}

.bar{
    height: 0.2vw;
    width: 2vw;
    background-color: #D1291D;
    margin: 0.4vw 0;
    border-radius: 10px;
}

.topBar_options a{
    text-decoration: none;
    color: rgb(255, 255, 255);
    opacity: 0.71;
    margin: 1.5vw 2vw 0vw 2vw;
    letter-spacing: 0.05vw;
    transition: all 0.3s ease;
}

.topBar_options a:hover{
    opacity: 1;
    text-shadow: 0px 0px 1vw #D1291D;
}

.topBar_options a::after{
    color: #D1291D;
    width: 3vw;
    height: 1vw;
}

.topBar_options button{
    background-color: transparent;
    color: #D1291D;
    padding: 0.5vw 2vw 0.5vw 2vw;
    border-radius: 25px;
    border: 2px solid #A8A7A7;
    margin-left: 2vw;
    font-size: 1vw;
}

.hero{
    margin-bottom: 20vw;
}

.display_text{
    font-family: 'Helvetica';
    font-size: 3vw;
    color: white;
    letter-spacing: 2px;
    /* border: 1px solid blue; */
    height: fit-content;
    width: fit-content;
    margin: 8vw 0vw 0vw 12.5vw;
    font-weight: 700;
    line-height: 0vw;
}

.hero_list{
    display: flex;
    flex-direction: column;
    /* border: 1px solid white; */
    width: fit-content;
    height: fit-content;
    margin: 1vw 0vw 0vw 12.5vw;
    font-size: 1vw;
    font-family: 'Helvetica';
    color: white;
}

.list_row{
    display: flex;
    flex-direction: column;
}

.list_column{
    display: flex;
    flex-direction: row;
    /* border: 1px solid gray; */
    margin-bottom: 0.5vw;
    font-size: 1vw;
    letter-spacing: 1.5px;
    transition: all 0.3s ease;
    cursor: default;
}

.list_column:hover{
    margin-bottom: 1vw;
}

.box{
    height: 2vw;
    width: 2vw;
    padding: 1vw;
    /* border: 1px solid wheat; */
    background : linear-gradient(to bottom , #232323 , #151515);
    border-radius: 10px;
    margin-right: 2vw;
}

.illustration1{
    width: 20vw;
    height: 17vw;
    position: absolute;
    top: 16vw;
    right: 18vw;
    transition: all 0.5s ease;

}

.illustration2{
    width: 10vw;
    height: 4vw;
    position: absolute;
    top: 12vw;
    left: 31vw;
}

.X{
    font-family: 'Helvetica'; 
    font-size: 1vw;
    color: #A5251B;
    position: absolute;
    top: 7vw;
    right: 16vw;
}

.licencee{
    position: absolute;
    top: 17vw;
    right: 21vw;
    width: 16vw;
    height: 20vw;
    transition: all 0.3s ease;
}

.licencee:hover , .illustration1:hover{
    transform: translate(1vw, -1vw);
}

.name_plate{
    background-color: #232323;
    border-radius: 30px;
    height: fit-content;
    width: fit-content;
    font-family: 'Helvetica';
    /* border: 1px solid red; */
    padding: 0.5vw 5vw 0.5vw 5vw;
    color: white;
    position: absolute;
    top: 33vw;
    right: 18.5vw;
}

#name1{
    font-size: 1.5vw;
}

#position{
    font-size: 1vw;
}

.about_us{
    /* border: 1px solid white; */
    display: flex;
    flex-direction: row;
    margin-bottom: 15vw;
    opacity: 0;
    transform: translateY(20px);
    transition: opacity 0.5s ease-in-out, transform 0.5s ease-in-out;
}

.about_us.show{
    opacity: 1;
    transform: translateY(0);
}

.about_us_images{
    margin-left: 15vw;
}

.about_us_images img{
    width: 20vw;
    height: 20vw;
}

.about_us_content{
    font-family: 'Helvetica';
    font-size: 1vw;
    /* border: 1px solid wheat; */
    margin: 0vw 20vw 0vw 15vw;
    text-align: right;
}

#About , #us{
    font-size: 1.8vw;
}

#us{
    font-size: 1.9vw;
}

#About_us_desc{
    font-size: 1.2vw;
}

.about_us_content button{
    background-color: transparent;
    color: #D1291D;
    padding: 0.5vw 2vw 0.5vw 2vw;
    border-radius: 25px;
    border: 2px solid #A8A7A7;
    margin-top: 3vw;
    margin-left: 2vw;
    font-size: 1vw;
}

.Big_X{
    position: absolute;
    top: 55vw;
    right: 0vw;
    width: 20vw;
    height: 30vw;
    opacity: 0.7;
}

.speakers{
    display: flex;
    flex-direction: column;
    font-family: 'Helvetica';
    font-size: 1vw;
    color: white;
    margin-bottom: 15vw;
    opacity: 0;
    transform: translateY(20px);
    transition: opacity 0.5s ease-in-out, transform 0.5s ease-in-out;
}

#The_Speakers{
    font-size: 1.5vw;
}

.speakers.show{
    opacity: 1;
    transform: translateY(0);
}

.speakers p{
    margin: auto;
}

.speaker_images{
    display: flex;
    flex-wrap: wrap;
    /* border: 1px solid white; */
    margin: auto;
    width: 80vw;
    height: 50vw;
    margin-top: 8vw;
}

.speaker_image{
    border: 1px solid #D6291B;
    height: 20vw;
    width: 20vw;
    margin: 0vw 3vw 0vw 3vw;
    border-radius: 10px;
}

.speakers button{
    background-color: transparent;
    color: #D1291D;
    padding: 0.5vw 2vw 0.5vw 2vw;
    border-radius: 25px;
    border: 2px solid #A8A7A7;
    margin-left: 2vw;
    font-size: 1vw;
    width: fit-content;
    margin: auto;
    margin-top: 3vw;
}


.team{
    display: flex;
    flex-direction: column;
    margin: auto;
    font-family: 'Helvetica';
    font-size: 1vw;
    color: white;
    /* border-bottom: 1px solid red; */
    opacity: 0;
    transform: translateY(20px);
    transition: opacity 0.5s ease-in-out, transform 0.5s ease-in-out;
}

.team.show{
    opacity: 1;
    transform: translateY(0);
}

#Meet_The_team{
    font-size: 1.5vw;
}


.team_logo{
    display: flex;
    flex-wrap: wrap;
    height: 30vw;
    width: 47vw;
    /* border: 1px solid wheat; */
    margin: auto;
    margin-top: 3vw;
}

.icon{
    width: fit-content;
    height: fit-content;
    /* border: 1px solid white; */
}

.icon svg{
    margin: auto;
    border: 1px solid white;
    padding: 1.5vw;
    height: 2vw;
    width: 2vw;
    border-radius: 10px;
    margin: 2vw 5vw 0vw 5vw;
}

.icon p{
    margin: 1vw auto 0vw auto;
    text-align: center;
}

.team button{
    background-color: transparent;
    color: #D1291D;
    padding: 0.5vw 2vw 0.5vw 2vw;
    border-radius: 25px;
    border: 2px solid #A8A7A7;
    margin-left: 2vw;
    font-size: 1vw;
    width: fit-content;
    margin: auto;
    margin-top: 3vw;
    margin-bottom: 3vw;
}

.team img{
    height: 10vw;
    width: 40vw;
    margin: auto;
    opacity: 0.8;
}

button:hover{
    transform: scale(1.05);
    color: white;
    background-color: #D1291D;
    border-color: #D1291D;
}

.footer{
    background-color: rgb(231, 231, 231);
    height: 25vw;
    width: 90vw;
    margin: auto;
    border-radius: 30px;
    display: flex;
    font-family: 'Helvetica';
    font-size: 1vw;
    color: red;
    margin-bottom: 2vw;
}

.TEDxPVGCOET{
    margin: 4vw 4vw 0vw 4vw;
}

.social_media{
    display: flex;
    flex-direction: row;
    height: fit-content;
    width: 20vw;
    /* border-top: 2px solid black; */
    margin: 0vw 0vw 0vw 3vw;
}

.social_media a svg{
    height: 2vw;
    width: 2vw;
    margin: 0vw 1vw 0vw 1vw;
    transition: all 0.3s ease;
    overflow: visible;
}

.social_media a svg path{
    transition: all 0.3s ease;
}

.social_media a svg:hover path{
    fill: #D1291D;
    transform: scale(1.2);
}

.contact{
    margin: 5vw 0vw 0vw 4vw;
    color: black;
}

.contact a{
    text-decoration: none;
    color: black;
}

.contact ul li{
    margin-left: -2vw;
}

#footer_about_us , #footer_contact , #footer_site_links{
    font-size: 1.2vw;
}

#footer_about_width{
    width: 17vw;
}

.end_bar{
    display: flex;
    flex-direction: column;
    position: absolute;
    width: 90vw;
    margin-top: 20vw;
    justify-content: center;
    /* border: 1px solid greenyellow; */
}

.line{
    height: 1px;
    margin: auto;
    background-color: black;
    width: 83vw; 
}


@media only screen and (max-width : 768px){


    button{
        font-size: 4vw;
        width: fit-content;
        padding: 2vw 6vw 2vw 6vw;
    }

    .topBar{
        margin: 7vw 4vw 30vw 4vw;
        font-size: 4vw;
    }

    .logo{
        height: 10vw;
        width: 40vw;
    }

    .topBar_options{
        display: none;
        /* display: flex; */
        flex-direction: column;
        position: absolute;
        top: 60px;
        right: 0vw;
        width: fit-content;
        padding: 20vw;
        text-align: center;
        background-color: #762621;
        border-radius: 30px;
    }

    .topBar_options.show{
        display: flex;
    }

    .topBar_toggle{
        display: flex;
        margin-left: 43vw;
        margin-top: 1vw;
    }

    .bar{
        height: 1vw;
        width: 8vw;
        margin: 0.8vw 0;
    }

    .topBar_options a{
        margin-top: 10vw;
    }

    .topBar_options button{
        font-size: 4vw;
        margin: 10vw auto 0vw auto;   
        padding: 2vw 6vw 2vw 6vw;
    }

    .display_text{
        font-size: 10vw;
        margin: 0vw auto 0vw auto;
        text-align: center;
    }

    .hero_list{
        margin:auto;
    }

    .list_row{
        flex-direction: column;
    }

    .list_column{
        /* border: 1px solid greenyellow; */
        font-size: 3vw;
        flex-direction: column;
        text-align: center;
        margin-bottom: 5vw;
    }

    .box{
        height: 7vw;
        width: 7vw;
        padding: 5vw;
        margin: auto;
        background: white;
    }

    .illustration1{
        width: 60vw;
        height: 50vw;
        position:relative;
        display: flex;
        margin: 30vw 0vw 0vw 37vw;
    }

    #ill1_2{
        /* display: none; */
        margin: -52vw 0vw 0vw 38vw;
    }

    #ill1_3{
        margin: -53vw 0vw 0vw 39vw;
    }

    .X{
        position: relative;
        left: 0vw;
        right: 0vw;
        font-size: 3vw;
        text-align: center;
    }

    
    .licencee{
        top: 0;
        right: 0;
        bottom: 0;
        left: 0;
        width: 40vw;
        height: 50vw;
        position: relative;
        top: -29vw;
        left: 28vw;
    }

    .name_plate{
        position: relative;
        font-size: 4vw;
        top: -40vw;
        left: 22vw;
        border: 0.5px solid white;
        padding: 2vw 10vw 2vw 10vw;
        background-color: rgb(31, 31, 31);
        text-align: center;
    }

    #name1{
        font-size: 5vw;
    }

    #position{
        font-size: 3vw;
    }

    .illustration2{
        display: none;
    }

    .about_us{
        flex-direction: column;
    }

    .about_us_images img{
        display: none;
    }

    .about_us_content{
        text-align: center;
        margin: auto;
    }

    #About , #us{
        font-size: 6vw;
    }

    #About_us_desc{
        font-size: 5vw;
        width: 70vw;
    }

    .about_us_content button{
        font-size: 4vw;
        padding: 2vw 10vw 2vw 10vw;
    }

    .speakers{
        font-size: 4vw;
    }

    #The_Speakers{
        font-size: 6vw;
    }

    .speaker_images{
        height: fit-content;
    }
    
    .speakers{
        margin-top: 40vw;
    }

    .speaker_image{
        height: 75vw;
        width: 75vw;
        margin-top: 10vw;
        margin-bottom: 10vw;
    }

    .speakers button{
        font-size: 4vw;
        padding: 2vw 10vw 2vw 10vw;
        margin-top: 10vw;
    }

    .team{
        /* display: none; */
        font-size: 4vw;
        margin-top: 40vw;
    }

    .team_logo{
        /* border: 1px solid blue; */
        width: 58vw;
        height: fit-content;
        margin-top: 20vw;
    }

    .icon svg{
        height: 10vw;
        width: 10vw;
        padding: 4vw;
    }

    .icon p{
        margin-bottom: 10vw;
        margin-top: 4vw;
    }

    .team button{
        font-size: 4vw;
        padding: 2vw 10vw 2vw 10vw;
    }

    #Meet_The_team{
        font-size: 6vw;
    }

    .team img{
        margin-top: 30vw;
        height: 25vw;
        width: 100vw;
    }
    
    .footer{
        display: flex;
        flex-direction: column;
        height: fit-content;
        width:auto;
        border-radius: 0px;
        margin: 0vw 0vw 0vw 0vw;
    }

    .TEDxPVGCOET{
        transform: scale(3.5);
        margin: 8vw 0vw 0vw 20vw;
        width: fit-content;
    }

    .social_media{
        margin: 5vw 0vw 0vw 5vw;
    }

    .social_media a svg{
        height: 10vw;
        width: 10vw;
        margin-right: 5vw;
    }

    .contact{
        margin-top: 10vw;
        font-size: 4vw;
    }

    #footer_about_us , #footer_contact , #footer_site_links{
        font-size: 5vw;
    }

    #footer_about_width{
        width: 80vw;
    }

    .contact ul li{
        margin-left: -7vw;
        margin-bottom: 4vw;
    }

    .end_bar{
        display: none;
    }



}